*{
  box-sizing: border-box;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 56px;
    background-color: #181c1f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

body {
  font-family: 'Inter', sans-serif;
}

/* ---------- Container ---------- */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: linear-gradient(135deg, #2a09bd, #920dc7);
  height: 100vh;
}

.login-box {
  background: #181c1f;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  padding: 30px;
  padding-bottom: 0px;
  padding-top:40px;
  text-align: center;
  transition: 0.3s ease;
  margin-top: 50px;
}

.signup-box {
  background: #181c1f;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  padding: 30px;
  padding-bottom: 0px;
  padding-top:20px;
  text-align: center;
  transition: 0.3s ease;
  margin-top: 50px;
}

/* ---------- Tabs ---------- */
.login-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
}

.login-tab {
  flex: 1;
  padding: 10px 0;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  color: #888;
  transition: color 0.3s, border-bottom 0.3s;
}

.login-tab.login-active {
  color: #ff4500;
  border-bottom: 3px solid #ff4500;
}

/* ---------- Form ---------- */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-form.login-active {
  display: flex;
  padding-left:11%;
  padding-right:11%;
}

.login-form .inputbox{
  position:relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2px;
  gap: 5px;
}

.login-form h2 {
  margin-bottom: 0px;
  color: #eef1f3;
}

.login-form p {
  margin-bottom: 10px;
  color: #b7cad4;
  font-size: smaller;
}

.login-form span{
  color:#577ad6;
}

.login-form span:hover{
  color:#577ad6;
  text-decoration: underline;
  cursor: pointer;
}

.login-form a {
  color: #577ad6;
  cursor: pointer;
  font-weight: 10;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

.login-form input {
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 15px;
  color:white;
  height: 55px;
  width: 100%;
  background-color: #2a3236;
  outline: none;
  transition: 0.05s;
}

.login-form input:focus {
  border: 2px solid white;
  outline: none;
  transition: 0.05s;
}

.login-form input.warning {
  border: 3px solid #ff4f40;
  transition: 0.05s;
}

.login-form .warn{
  color:#ff4f40;
  font-size: 12px;
  font-weight: 50;
  align-self: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 14px;
  visibility: hidden;
}

.login-form .warn.show {
  visibility: visible;
  opacity: 1;
}


/* ------- Button case1------- */
.login-form .login-button{
  background-color: #23272a;
  color: #575a5c;
  border: none;
  border-radius: 30px;
  padding: 12px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
  height: 100%;
  max-height: 80px;
  width: 100%;
}


/* ---------- Button ---------- */
.login-btn {
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.login-btn:hover {
  background-color: #ff7b00;
  transform: translateY(-2px);
}

/* ---------- Switch Text ---------- */
.login-switch-text {
  margin-top: 10px;
  font-size: 14px;
  color: #9fafb8;
  align-self: flex-start;
  margin-top: 10px;
}

.login-switch-text span {
  color: #618af3;
  cursor: pointer;
  font-weight: 10;
}

.login-switch-text span:hover{
  text-decoration: none;
  color: #6d96ff;
}

/* ---------- Password Field ---------- */
.login-password-field {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #2a3236;
  height: 100%;
}

.login-password-field input {
  width: 100%;
  height: 100%;
  padding-right: 40px;
  padding: 12px;
  border:none;
  background-color: #2a3236;
}

.login-toggle-password {
  position: absolute;
  right: 10px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.login-toggle-password:hover {
  opacity: 1;
}

.icon-warn {
  position: absolute;
  right: 15px;
  top: 18px;
  pointer-events: none;
}

.icon-success {
  position: absolute;
  right: 15px;
  top: 18px;
  pointer-events: none;
  stroke: #28a745;
}

/* This simply stops some unexpected styling from browser autofill feature */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #2a3236 inset !important;
    
    -webkit-text-fill-color: white !important;
    
    border-radius: 20px !important;
}
