
.search-bar {
  width: 70%;
  padding: 10px 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.community-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.community-card span {
  flex: 1;
  margin-left: 10px;
  font-weight: 500;
}

.community-card .fav-toggle{
    flex-shrink: 0;
  margin-left: 6px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.community-card .fav-toggle img {
  width: 20px;
  height: 20px;
}

.join-toggle {
  background: #0079d3;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.join-toggle:hover {
  background: #005fa3;
}

.join-toggle.joined {
  background: #e2e2e200;
  color: #333;
  border: 1px solid #333
}

.join-toggle.joined:hover {
  background: #d0d0d0;
}

.community-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px;
  border-radius: 8px;
  transition: 0.2s;
}

.community-card img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  flex-shrink: 0;
}

.community-info {
  flex: 1;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}

.community-name {
  font-weight: 500;
  margin-bottom: 4px;
}

.community-description {
  margin: 0;
  font-size: 14px;
  color: #666;
  line-height: 1.3;
  overflow: hidden;
}

.make-favouriteMC {
  flex-shrink: 0;
  margin-right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.make-favouriteMC img {
  width: 18px !important;
  height: 18px !important;
  vertical-align: middle;
  pointer-events: none;
}

.community-name a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.community-name a:hover {
  color: #0079d3;
}